:root {
    --theme-color: #fdbb28;
}

body {
    font-family: "Karla", sans-serif;
    background-color: #fff;
    min-height: 100vh;
}

.regis-section-wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px 100px;
    background-color: #fff;
}

.regis-wrapper {
    width: 500px;
    max-width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
}

.regis-wrapper label {
    font-size: 14px;
    font-weight: bold;
    color: #b0adad;
}
.regis-wrapper .form-control {
    border: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    padding: 15px 10px;
    min-height: 40px;
    font-size: 18px;
    font-weight: normal;
}

.regis-wrapper .form-control::placeholder {
    color: #b0adad;
}

.regis-wrapper .regis-btn {
    padding: 13px 20px;
    background-color: var(--theme-color);
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 14px;
}
.regis-wrapper .regis-btn:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}

.regis-wrapper-footer-text {
    margin-top: 54px;
    font-size: 16px;
    color: #000;
    margin-bottom: 0;
}

.regis-title {
    font-family: "Lora", serif;
    font-size: 48px;
    color: #000;
    font-weight: bold;
    margin-bottom: 40px;
}

.regis-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}
